<div class="center jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <h2>
        Modifier le Réalisateur
      </h2>
    </div>
  </div>


<%= render 'layouts/formRealisateur' %>

</div>
