@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #32b67a;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #0a8043;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron{
  background-color: #f6f6f8;
}

.jumbotron h1 {
  color: #7db343;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-top: -20px;
}

.btn-xlarge {
  word-spacing: -8px;
  text-align: center;
}
